* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
h1 {
  margin: 30px;
  text-align: center;
}

.row {
  width: 100%;
  padding: 30px;
}
h2 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 1px solid black;
  padding: 10px;
}
.chicken {
  background-color: red;
}
.beef {
  background-color: purple;
}

.sushi {
  background-color: yellow;
}

div {
  margin: 5px;
}

#p1, #p2, #p3 {
  float: left;
  background-color: grey;
  border: 1px solid black;
  position: relative;
  padding: 60px 15px 10px 15px;
}



/********** Large devices only **********/
@media (min-width: 992px) {
  #p1 {
    width: 33.33%;
  }
  #p2 {
    width: 33.33%;
  }
  #p3 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
    width: 50%;
  }
  #p2 {
    width: 50%;
  }
  #p3 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  #p1 {
    width: 100%;
  }
  #p2 {
    width: 100%;
  }
  #p3 {
    width: 100%;
  }
}
}